@charset "UTF-8";



/* Général */
* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}
html {
    padding: 0px 0px 0px 0px;
}
:root {
    color: white;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: "Montserrat", "Helvetica", Arial, sans-serif;
}
.contenu {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 535px;
    @media (min-width: 760px) {
        width: 800px;
        margin-top: 100px;
        
    }
    @media (min-width: 1000px) {
        width: 1300px;
        margin-top: 200px;
        
    }
}

h1 {
    font-size: 3em;
}
.background-poster {
    background-image: url('https://cdx.monstercat.com?encoding=webp&amp;url=https%3A%2F%2Fwww.monstercat.com%2Frelease%2FMCLP017%2Fcover%3F2ee434f2-4499-4c30-a937-4aec2b4ac1fc&amp;width=1024');
    filter: blur(5px) brightness(38%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1%;
    left: -1%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    -webkit-mask-image: linear-gradient(180deg, black 50%, transparent 100%);
    

}
.icon {
    width: 20px;
    height: 20px;
    fill: #F1F1F1;
    
  
}
.player{ 
        height:20px;
        width: 50px;
        fill: #F1F1F1;

}


/* Header et menu nav */
.entete {
    position:fixed;
    top: 5px;
    left: 0px;
    right:0px;
    z-index: 2;
    .entete_nav {
        display: grid;
        background-color: grey;
        
        @media (min-width:1200px) {
            grid-template-columns: 1fr 3fr 1fr;
            
        }
        
        .entete_logo {
            grid-column: 1/2;
        }
        .entete_menu {
            justify-self: right;
            grid-column: 3/4;
            
        }
    }
  }
/* Bon burger */
.burger_premier {
    .burger_poignee {
        width: 80px;
        height: 80px;
    }
}

.burger_page {
    .burger_top {
        .burger_logo {
            width: 180px;
            
        }
        .burger_close {
                position:absolute;
                right:10%
            }
    }
    .burger_middle {
        .burger_ul {
            list-style: none;
            .burger_li {
                //color:white;
                .burger_h3 {
                    color:#F1F1F1;
                    text-decoration: none;
                }
                .burger_lien {
                    text-decoration: none;
                    color: #F1F1F1;
                }
                ul {
                    list-style: none;
                }
            }
        }
    }
    .burger_bottom {
        .burger_list_icon {

        }

    }
}            






/* Entête */
.bandeau {
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width:1000px) {
        grid-template-columns: 500px 500px;
        
    }
    grid-column-gap: 30px;
    flex-wrap: wrap;
}
    .div_bannière {
        position: relative; 
         width: 100%;
        padding-left: 24px;
        grid-column: 1/1;
        
        
        
        @media (min-width:1000px) {
            grid-area: 1 / 1 / 1/2;
            width:100%;
        };
        .image_album {
            width: 100%;
            
            @media (min-width:660px) {
                width: 535px;
                
            }
            
            @media (min-width:1000px) {
                width: 100%;
                
            }
        };
        .text_90o {
            position:absolute;
            left:-15px;
            bottom: 0;
            writing-mode: vertical-lr;
            transform: rotate(180deg);
            font-style: italic;
        }
    }
    
    .bandeau_conteneur {
        @media (min-width:1000px) {
            grid-area: 2 / 2 / 1/2;
            width:30%;
        }
        display: grid;
        grid-template-rows: 1fr 100px 100px;
        
        .bandeau_titre {
            grid-area: 1/1 / 1/2;
            font-size: 32px;
            font-weight: 500;
            padding-top: auto;
            padding-bottom: 0;
            
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #F1F1F1;
            -webkit-text-fill-color: transparent;
        }
        .bandeau_auteur { 
            grid-area: 2/1 / 2/2; }
        .bandeau_lien { 
            flex-wrap: wrap;
            flex-direction: row;
            grid-area: auto; 
            height:100px;
        }
    }
    
/*Streaming */
.streaming {
    .streaming_list {
        flex-direction: row;
        justify-content: left;
        width:1000px;
        display: inline-flex;
        div {
            padding: 1em;
            border: 2px solid lightgray;
            
        }
    }
}
    



/* Table TrackList */
.trackeur_table {
    width: 100%;
    td {
        padding-left: 1em;
        padding-right: 1em;
            border: 2px solid lightgray;
            height: 80px
    }
    .track_tr {
        flex-direction: column;
        width:max-content;
        display: table-row;
        
    }
    .track_number, .track_button {
        width: 35px;
            
    }
    .track_button {
    }
    .table_button {
        display: inline-block;
        text-align: center;
        fill: rgb(255, 255, 255) ;
    }
    .track_time {
        width:auto
    }
}


/* Footer */
.footer {
    display: flex;
    flex-wrap: wrap;
    margin: 100px;
    div {
        color: lightgray ;
    };
    .footer__nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 0px;
        .div1 { grid-area: 1 / 1 / 2 / 2; }
        .div2 { grid-area: 2 / 1 / 3 / 2; }
        .div3 { grid-area: 3 / 1 / 4 / 2; }
        .div4 { grid-area: 4 / 1 / 5 / 2; }
        .div5 { grid-area: 5 / 1 / 6 / 2; }
        .div6 { grid-area: 1 / 2 / 2 / 3; }
        .div7 { grid-area: 2 / 2 / 3 / 3; }
        .div8 { grid-area: 1 / 3 / 6 / 4; }
    }
}

    
    